
$colour-highlight: #08b;
$colour-highlight-light: #eef;

$main-bg: #abc;

$field-container-bg: #cde; // TESTING ONLY
$field-container-bg-invalid: #fcc; // TESTING ONLY

$status-bg-colour: #ffa;
$status-border-colour: #aa0;
