
// ==========================================================================
// Description.
//
// $param	Description
// ==========================================================================
@mixin text-clip($text-overflow: ellipsis) {
	overflow: hidden;
	text-overflow: $text-overflow;
	white-space: nowrap;
}
