@charset "utf-8";

@import "base/mixins";

/* ==========================================================================
	Set Viewport
   ========================================================================== */

@include viewport {
	min-zoom: 1;
	orientation: auto;
	user-zoom: zoom;
	width: device-width;
	zoom: 1;
}

/* ==========================================================================
	Reset
   ========================================================================== */

@import "base/reset";

/* ==========================================================================
	Structure
   ========================================================================== */

@import "structure/structure";

/* ==========================================================================
	Site Skin Overrides
   ========================================================================== */

@import "skin/site/variables";

/* ==========================================================================
	Common Skin
   ========================================================================== */

@import "skin/common/skin";

/* ==========================================================================
	Site Skin (if any)
   ========================================================================== */

@import "skin/site/skin";
