/* ==========================================================================
	Set Viewport
   ========================================================================== */
@-ms-viewport {
  min-zoom: 1;
  orientation: auto;
  user-zoom: zoom;
  width: device-width;
  zoom: 1;
}
@viewport {
  min-zoom: 1;
  orientation: auto;
  user-zoom: zoom;
  width: device-width;
  zoom: 1;
}
/* ==========================================================================
	Reset
   ========================================================================== */
/* Browser specific, hacks etc. */
body {
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
}

main {
  display: block;
}

:-moz-ui-invalid {
  box-shadow: initial;
}

/* Main */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Box model */
body,
button,
fieldset,
input,
ol,
select,
textarea,
ul {
  margin: 0;
}

a,
button,
input,
select,
textarea {
  outline: none 0;
}

fieldset {
  border: none 0;
}

fieldset,
legend {
  padding: 0;
}

/* Forms */
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}

button:enabled,
input[type='checkbox']:enabled,
input[type='radio']:enabled,
select:enabled {
  cursor: pointer;
}

label[for]:not([disabled]) {
  cursor: pointer;
}

button,
select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

textarea {
  resize: vertical;
}

/* Other */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
	Structure
   ========================================================================== */
/* Browser specific, hacks etc. */
.textbox ::-webkit-calendar-picker-indicator,
.textbox ::-webkit-inner-spin-button,
.textbox ::-webkit-outer-spin-button {
  display: none;
}

/* Main */
body {
  font-size: 100%;
  line-height: 1.125;
}

main {
  margin: 0 auto;
}
@media only screen and (max-width: 479px) {
  main {
    padding: 12px 10px;
    width: 300px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  main {
    padding: 12px 12px;
    width: 456px;
  }
}
@media only screen and (min-width: 600px) {
  main {
    padding: 18px 18px;
    width: 948px;
  }
}

/* Text */
p {
  margin: 0;
}
p:not(:last-child) {
  margin-bottom: 12px;
}

/* Forms */
button,
input[type='checkbox'],
input[type='radio'],
select,
.textbox {
  height: 36px;
}

input,
label.textbox {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input + label,
.field-label {
  line-height: 24px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.mask-placeholder,
.textbox {
  padding-left: 6px;
  padding-right: 6px;
}

label.textbox {
  line-height: 36px;
  position: relative;
}
label.textbox:not([disabled]) {
  cursor: text;
}
label.textbox input,
label.textbox .field-delim {
  float: left;
}
label.textbox input {
  border: none 0;
  height: 100%;
  line-height: normal;
  padding-left: 0;
  padding-right: 0;
}
label.textbox input:not(:first-child) {
  margin-left: 6px;
}
label.textbox input[size='2'] {
  width: 2em;
}
label.textbox input[size='4'] {
  width: 4em;
}
label.textbox .mask-placeholder {
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre-wrap;
}
label.textbox .mask-placeholder span {
  visibility: hidden;
}

.field-small {
  min-width: 72px;
}

@media only screen and (min-width: 600px) {
  form {
    width: 564px;
  }
}
form:not(:last-child) {
  margin-bottom: 12px;
}
form > fieldset:not(:last-child) {
  margin-bottom: 36px;
}

fieldset > ol,
fieldset > ul {
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .field-item::after {
    clear: both;
    content: '';
    display: block;
  }
}
.field-item:not(:last-child) {
  margin-bottom: 12px;
}
@media only screen and (min-width: 600px) {
  .field-item .field-label {
    float: left;
    text-align: right;
    width: 180px;
  }
}
@media only screen and (min-width: 600px) {
  .field-item .field-container {
    float: left;
    margin-left: 12px;
    width: 372px;
  }
}

.field-container {
  position: relative;
}
@media only screen and (max-width: 599px) {
  .field-container::after {
    clear: both;
    content: '';
    display: block;
  }
}
.field-container button,
.field-container input[type='checkbox'],
.field-container input[type='radio'],
.field-container input + label,
.field-container select,
.field-container .textbox {
  float: left;
}
.field-container button:not(:first-child),
.field-container input[type='checkbox']:not(:first-child),
.field-container input[type='radio']:not(:first-child),
.field-container input + label:not(:first-child),
.field-container select:not(:first-child),
.field-container .textbox:not(:first-child) {
  margin-left: 12px;
}
.field-container select.field-small:only-of-type,
.field-container .textbox.field-small:only-of-type {
  max-width: 100%;
}
@media only screen and (max-width: 599px) {
  .field-container select:only-of-type,
  .field-container .textbox:only-of-type {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .field-container select:only-of-type:not(.field-small),
  .field-container .textbox:only-of-type:not(.field-small) {
    width: 372px;
  }
}
@media only screen and (max-width: 599px) {
  .field-container select:not(.field-small):first-of-type:nth-last-of-type(2), .field-container select:not(.field-small):first-of-type:nth-last-of-type(2) ~ select, .field-container select:not(.field-small):first-of-type:nth-last-of-type(2) ~ .textbox,
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(2),
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(2) ~ select,
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(2) ~ .textbox {
    width: calc((100% - 12px) / 2);
  }
}
@media only screen and (min-width: 600px) {
  .field-container select:not(.field-small):first-of-type:nth-last-of-type(2), .field-container select:not(.field-small):first-of-type:nth-last-of-type(2) ~ select, .field-container select:not(.field-small):first-of-type:nth-last-of-type(2) ~ .textbox,
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(2),
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(2) ~ select,
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(2) ~ .textbox {
    width: 180px;
  }
}
@media only screen and (max-width: 599px) {
  .field-container select:not(.field-small):first-of-type:nth-last-of-type(3), .field-container select:not(.field-small):first-of-type:nth-last-of-type(3) ~ select, .field-container select:not(.field-small):first-of-type:nth-last-of-type(3) ~ .textbox,
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(3),
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(3) ~ select,
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(3) ~ .textbox {
    width: calc((100% - 12px * 2) / 3);
  }
}
@media only screen and (min-width: 600px) {
  .field-container select:not(.field-small):first-of-type:nth-last-of-type(3), .field-container select:not(.field-small):first-of-type:nth-last-of-type(3) ~ select, .field-container select:not(.field-small):first-of-type:nth-last-of-type(3) ~ .textbox,
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(3),
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(3) ~ select,
  .field-container .textbox:not(.field-small):first-of-type:nth-last-of-type(3) ~ .textbox {
    width: 116px;
  }
}
.field-container button {
  width: 72px;
}
.field-container.has-button .textbox:only-of-type {
  width: 288px;
}
.field-container [role='status'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  font-size: 12px;
  position: absolute;
}
@media only screen and (max-width: 599px) {
  .field-container [role='status'] {
    top: 100%;
    width: 100%;
    z-index: 1;
  }
}
@media only screen and (min-width: 600px) {
  .field-container [role='status'] {
    max-width: 372px;
    -webkit-transform: translate(384px, 18px) translateY(-50%);
    transform: translate(384px, 18px) translateY(-50%);
  }
}
.field-container [role='status'] ul {
  padding: 6px 6px;
}
.field-container [role='status'] li {
  line-height: 18px;
  padding: 3px 0;
}
.field-container input:focus ~ [role='status'],
.field-container select:focus ~ [role='status'],
.field-container .focus ~ [role='status'] {
  display: block;
}

.form-errors:not(:empty) {
  margin-bottom: 36px;
  padding: 6px 6px;
}
.form-errors > p {
  margin-bottom: 6px;
}

output.form-errors {
  display: block;
}

/* ==========================================================================
	Site Skin Overrides
   ========================================================================== */
/* ==========================================================================
	Common Skin
   ========================================================================== */
/* Browser specific, hacks etc. */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 #333333;
}
select::-ms-expand {
  display: none;
}
@-moz-document url-prefix() {
  select {
    padding-top: 8px;
    text-indent: 0.01px;
    text-overflow: '';
  }
}
::-webkit-calendar-picker-indicator {
  color: #555555;
}

/* Main */
body {
  background: #aabbcc;
  color: #333333;
  font-family: sans-serif;
}
body.show-columns main, body.show-grid main {
  position: relative;
}
body.show-columns main::after, body.show-grid main::after {
  bottom: 0;
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 100;
}
@media only screen and (max-width: 599px) {
  body.show-columns main::after {
    background-image: linear-gradient(to right, rgba(0, 127, 255, 0.15) 144px, transparent 144px);
    background-size: 156px;
  }
}
@media only screen and (max-width: 479px) {
  body.show-columns main::after {
    left: 10px;
    right: 10px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  body.show-columns main::after {
    left: 12px;
    right: 12px;
  }
}
@media only screen and (min-width: 600px) {
  body.show-columns main::after {
    background-image: linear-gradient(to right, rgba(0, 127, 255, 0.15) 180px, transparent 180px);
    background-size: 192px;
    left: 18px;
    right: 18px;
  }
}
body.show-grid main::after {
  background-image: linear-gradient(transparent 25%, rgba(0, 127, 255, 0.15) 25%, rgba(0, 127, 255, 0.15) 50%, transparent 50%, transparent 75%, rgba(255, 0, 0, 0.1) 75%), linear-gradient(to right, transparent 25%, rgba(0, 127, 255, 0.15) 25%, rgba(0, 127, 255, 0.15) 50%, transparent 50%, transparent 75%, rgba(255, 0, 0, 0.1) 75%);
  background-size: 24px 24px;
  left: 0;
  right: 0;
}

/* Text */
a {
  color: inherit;
  text-decoration: none;
  transition: color 250ms;
}
a:hover, a:focus {
  text-decoration: underline;
}

/* Forms */
input[type='checkbox'] + label::before,
input[type='radio'] + label::before,
select,
.textbox {
  transition: background-color 250ms, border-color 250ms;
}

input[type='checkbox'],
input[type='radio'] {
  opacity: 0;
  width: 36px;
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  position: relative;
}
input[type='checkbox'] + label::before,
input[type='radio'] + label::before {
  background-color: white;
  border: #555555 solid 2px;
  box-shadow: inset 0 0 0 4px white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  height: 36px;
  left: -48px;
  position: absolute;
  top: calc(50% - 36px / 2);
  width: 36px;
}
input[type='checkbox']:hover + label::before,
input[type='radio']:hover + label::before {
  background-color: #eeeeff;
}
input[type='checkbox']:active + label::before,
input[type='radio']:active + label::before {
  background-color: white;
}
input[type='checkbox']:checked + label::before,
input[type='radio']:checked + label::before {
  background-color: #0088bb;
  border-color: #0088bb;
}

input[type='checkbox'] + label::before {
  background-origin: border-box;
  border-radius: 3px;
}
input[type='checkbox']:checked + label::before {
  background-image: url(skin/common/images/check.svg);
}

input[type='radio'] + label::before {
  border-radius: 50%;
}

select,
.mask-placeholder,
.textbox {
  padding-left: 5px;
}

select,
.textbox {
  background-color: white;
  background-origin: border-box;
  background-position: right;
  background-repeat: no-repeat;
  border: #555555 solid 1px;
}
select:hover,
.textbox:hover {
  background-color: #eeeeff;
}
select:focus, select.focus,
.textbox:focus,
.textbox.focus {
  background-color: white;
  border-color: #0088bb;
}

.mask-placeholder,
.textbox {
  padding-right: 5px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(skin/common/images/select.svg);
  border-radius: 0;
  padding-right: 23px;
}

label.textbox {
  line-height: 34px;
}
label.textbox input {
  background-color: transparent;
  transition: background-color 250ms;
}

::-moz-placeholder {
  color: darkgray;
  opacity: 1;
}

:-ms-input-placeholder {
  color: darkgray;
}

::-webkit-input-placeholder,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-day-field[aria-valuetext='blank'],
::-webkit-datetime-edit-month-field[aria-valuetext='blank'],
::-webkit-datetime-edit-year-field[aria-valuetext='blank'] {
  color: darkgray;
}

.field-delim,
.mask-placeholder {
  color: darkgray;
}

.field-item {
  background: #ccddee;
}
.field-item.invalid {
  background: #ffcccc;
}
.field-item.required .field-label::after {
  color: #f00;
  content: '*';
}

@media only screen and (max-width: 599px) {
  .field-container input + label:only-of-type {
    width: calc(100% - 36px - 12px - 36px);
  }
}
@media only screen and (min-width: 600px) {
  .field-container input + label:only-of-type {
    width: 288px;
  }
}
@media only screen and (max-width: 599px) {
  .field-container input + label:first-of-type:nth-last-of-type(2), .field-container input + label:first-of-type:nth-last-of-type(2) ~ label {
    width: calc((100% - 36px * 2 - 12px * 3 - 36px) / 2);
  }
}
@media only screen and (min-width: 600px) {
  .field-container input + label:first-of-type:nth-last-of-type(2), .field-container input + label:first-of-type:nth-last-of-type(2) ~ label {
    width: 114px;
  }
}
@media only screen and (max-width: 599px) {
  .field-container input + label:first-of-type:nth-last-of-type(3), .field-container input + label:first-of-type:nth-last-of-type(3) ~ label {
    width: calc((100% - 36px * 3 - 12px * 4 - 36px) / 3);
  }
}
@media only screen and (min-width: 600px) {
  .field-container input + label:first-of-type:nth-last-of-type(3), .field-container input + label:first-of-type:nth-last-of-type(3) ~ label {
    width: 60px;
  }
}
.field-container [role='status'] {
  background: #ffffaa;
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 250ms;
}
@media only screen and (min-width: 600px) {
  .field-container [role='status']::before, .field-container [role='status']::after {
    border-color: transparent;
    border-style: solid;
    content: '';
    position: absolute;
  }
  .field-container [role='status']::before {
    border-width: 8px;
    top: calc(50% - 8px);
    border-right-color: #aaaa00;
    left: -16px;
  }
  .field-container [role='status']::after {
    border-width: 7px;
    top: calc(50% - 7px);
    border-right-color: #ffffaa;
    left: -14px;
  }
}
.field-container [role='status'] ul {
  list-style: none;
  padding: 5px 5px;
}
.field-container [role='status'] li {
  padding-left: 18px;
  position: relative;
}
.field-container [role='status'] li::before {
  border-radius: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  height: 10px;
  left: 1px;
  position: absolute;
  top: 7px;
  transition: background-color 250ms, border-color 250ms;
  width: 10px;
}
.field-container [role='status'] li:not(.valid):not(.invalid)::before {
  background: white;
  border: #0088bb solid 2px;
}
.field-container [role='status'] li.valid::before {
  background: green;
}
.field-container [role='status'] li.invalid::before {
  background: red;
}
.field-container input:focus ~ [role='status'],
.field-container select:focus ~ [role='status'],
.field-container .focus ~ [role='status'] {
  border: #aaaa00 solid 1px;
  height: auto;
  opacity: 1;
  overflow: visible;
}

.submitted input[type='checkbox']:valid + label:last-of-type, .submitted input[type='checkbox']:invalid + label:last-of-type,
.submitted input[type='radio']:valid + label:last-of-type,
.submitted input[type='radio']:invalid + label:last-of-type,
.field-item.invalid input[type='checkbox']:valid + label:last-of-type,
.field-item.invalid input[type='checkbox']:invalid + label:last-of-type,
.field-item.invalid input[type='radio']:valid + label:last-of-type,
.field-item.invalid input[type='radio']:invalid + label:last-of-type {
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 36px;
}
.submitted input[type='checkbox']:valid + label:last-of-type,
.submitted input[type='radio']:valid + label:last-of-type,
.field-item.invalid input[type='checkbox']:valid + label:last-of-type,
.field-item.invalid input[type='radio']:valid + label:last-of-type {
  background-image: url(skin/common/images/valid.svg);
}
.submitted input[type='checkbox']:invalid + label:last-of-type,
.submitted input[type='radio']:invalid + label:last-of-type,
.field-item.invalid input[type='checkbox']:invalid + label:last-of-type,
.field-item.invalid input[type='radio']:invalid + label:last-of-type {
  background-image: url(skin/common/images/invalid.svg);
}
.submitted select:valid:focus, .submitted select:valid.focus,
.submitted .textbox:valid:focus,
.submitted .textbox:valid.focus,
.field-item.invalid select:valid:focus,
.field-item.invalid select:valid.focus,
.field-item.invalid .textbox:valid:focus,
.field-item.invalid .textbox:valid.focus {
  background-color: #eeffee;
  border-color: green;
}
.submitted select:invalid,
.submitted .textbox:invalid,
.field-item.invalid select:invalid,
.field-item.invalid .textbox:invalid {
  background-color: #ffeeee;
  border-color: red;
}
.submitted select,
.field-item.invalid select {
  background-position: right 30px center, right;
  padding-right: 59px;
}
.submitted select:valid,
.field-item.invalid select:valid {
  background-image: url(skin/common/images/select.svg), url(skin/common/images/valid.svg);
}
.submitted select:invalid,
.field-item.invalid select:invalid {
  background-image: url(skin/common/images/select.svg), url(skin/common/images/invalid.svg);
}
.submitted .textbox,
.field-item.invalid .textbox {
  padding-right: 35px;
}
.submitted .textbox:valid,
.field-item.invalid .textbox:valid {
  background-image: url(skin/common/images/valid.svg);
}
.submitted .textbox:invalid,
.field-item.invalid .textbox:invalid {
  background-image: url(skin/common/images/invalid.svg);
}

.field-item.invalid label.textbox {
  background-color: #ffeeee;
  background-image: url(skin/common/images/invalid.svg);
  border-color: red;
  padding-right: 35px;
}

.submitted .field-item:not(.invalid) label.textbox {
  background-image: url(skin/common/images/valid.svg);
  padding-right: 35px;
}

.form-errors {
  background: #ffeeee;
  opacity: 0;
  transition: opacity 250ms;
}
.form-errors:not(:empty) {
  border: red solid 1px;
  opacity: 1;
  padding: 5px 5px;
}
.form-errors > p {
  font-weight: bold;
}

/* ==========================================================================
	Site Skin (if any)
   ========================================================================== */

/*# sourceMappingURL=style.css.map */
